body {
  text-align: center;
  background: #290e4d;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.navigation {
  background-color: rgb(34, 53, 19);
  padding: 15px;
  border: 2px solid rgb(195, 233, 26);
  border-radius: 15px;
  margin: 10px;
}
.navigation__link {
  background-color: rgb(3, 24, 51);
  color: rgb(206, 238, 26);
  display: inline;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 4);
  text-decoration: none;
}
.navigation__link--maker {
  background-color: rgb(0, 85, 35);
  color: rgb(148, 168, 31);
}

h1 {
  color: rgb(55, 91, 146);
  margin: 0px;
}

h2 {
  background-color: rgb(49, 90, 121);
  width:800px;
  padding: 15px;
  margin: 0px;

}
section {
  color: rgb(0, 255, 221);
}
p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.yellow-h {
  color: rgb(181, 184, 31);
}
.head-brown {
  background-color: rgb(15, 1, 29);
  padding: 15px;
}
header a {
  color: rgb(223, 202, 208);
  font-size: 20px;
  font-style: italic;
  margin; 10px;
}
.footer {
  font-size: 5px;
  color: Black;
}
