html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    text-align: center;
    background: #f5f5f8;
    width: 100%;
}

.box_second--box {
    display: flex;
    border: ridge 1px rgb(229, 229, 235);
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box_second {
    background: rgb(13, 53, 112);
    border: ridge 1px rgb(229, 229, 235);
    color: white;
    width: 100px;
    height: 40px;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.box_imgone {
    width: 50%;
    height: 300px;
    display: inline-block;
}

.box_gitk {
    width: 50%;
    border-radius: 3px;
    background: rgb(148, 202, 123);
}

.box_gitk--save {
    width: 50%;
    border-radius: 4px;
    background-color: rgb(196, 85, 107);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 15px;
}

.grid__item {
    background-color: crimson;
}

.grid_one {
    display: grid;
    grid-template-areas: "head head" "news conten" "footer footer";
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 4fr 50px;
    grid-gap: 2px;
}

.head-grid {
    grid-area: head;
    background-color: rgb(244, 250, 246);
    margin: 20px;
}

.news-grid {
    grid-area: news;
    background-color: rgb(14, 99, 42);
    border-radius: 14px;
}

.content-grid {
    grid-area: conten;
    background-color: rgb(14, 99, 42);
    border-radius: 14px;
}

.footer-grid {
    grid-area: footer;
    background-color: rgb(112, 80, 80);
    border-radius: 14px;
    border: 1px solid rgb(0, 5, 5);
}

.flex {
    display: flex;
}

.navigation {
    background-color: rgb(63, 62, 153);
    padding: 15px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 15px;
    margin: 10px;
    display: none;
}

.navigation__link {
    background-color: rgb(3, 24, 51);
    color: rgb(206, 238, 26);
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 4);
    text-decoration: none;
    display: block;
}

.navigation__link--maker {
    background-color: rgb(0, 85, 35);
    color: rgb(148, 168, 31);
}

.words {
    background-color: rgb(63, 62, 153);
    padding: 15px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 15px;
}

a {
    color: rgb(245, 239, 239);
    text-decoration: none;
}

h1 {
    color: rgba(7, 41, 63, 0.959);
    margin: 10px;
}

h2 section {
    color: rgb(0, 255, 221);
}

p {
    color: rgb(32, 7, 7);
    font-size: 20px;
}

.yellow-h {
    color: rgb(181, 184, 31);
}

.head-brown {
    background-color: rgb(24, 114, 173);
    padding: 15px;
}

.content {
    grid-area: tekst;
    background-color: rgb(49, 90, 121);
}

.word {
    grid-area: word;
    background-color: rgb(49, 90, 121);
}

main {
    margin: 60px auto;
}

.hamburger {
    position: absolute;
    right: 10px;
}

.navigation--open {
    display: block;
}

.header_one {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    background-color: burlywood;
}

.header_two {
    width: 100%;
    background-color: cadetblue;
}

header a {
    color: rgb(223, 202, 208);
    font-size: 20px;
    font-style: italic;
    margin: 10px;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    text-align: left;
}

.git_border {
    padding: 3px;
    border-style: solid;
}

.footer {
    font-size: 5px;
    color: Black;
}

.jstyle_link {
    color: black;
}

.jstyle {
    background: rgb(245, 222, 22);
    border-radius: 50px;
    width: 100px;
    height: 40px;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.klasa-z-js {
    background-color: brown;
}

@media screen and (min-width: 425px) {
    .hamburger {
        display: none;
    }
}

;
@media screen and (min-width: 486px) {
    .navigation {
        display: inline-block;
    }
}

;